<div style="padding: 25px;">
  <form [formGroup]="form">

    <!-- Autocomplete -->
    <mat-form-field class="w-full">
      <mat-label>School</mat-label>
      <input type="text" placeholder="Type and select" matInput formControlName="school" [matAutocomplete]="auto" (keyup)="onKeyUpAutoSchool($event)">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayWithSchool()">
        @if(isSchoolsLoading) {
          <mat-option disabled="true"><mat-icon fontIcon="loop" class="spin"></mat-icon> Carregando ...</mat-option>
        } @else {
          @for (item of schools; track item.code) {
            <mat-option [value]="item" [disabled]="item.disabled">{{ item.name }}</mat-option>
          }
        }
      </mat-autocomplete>
    </mat-form-field>

  </form>
  <button mat-flat-button class="mr-2" (click)="getAutoSchool()">Get School</button>
  <button mat-flat-button class="mr-2" (click)="setAutoSchool()">Set School</button>
  <button mat-flat-button class="mr-2" (click)="clearAutoSchool()">Clear School</button>
  <div class="code">{{ output | json }}</div>
</div>
